
/* Box sizing e border radius */

/*#caixa {
	width: 300px;
	height: 300px;
	background: #b9c941;
	padding: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;
}

#caixa2 {
	width: 300px;
	height: 300px;
	background: #b9c941;
	/*padding: 10px;*/
	/*-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;
}

.arredondamento {
	border-radius: 150px;


/* Degradês e transparências */

/*
#caixa {
	width: 300px;
	height: 300px;*/
	/*background: url('../imagens/camera.jpg') no-repeat;*/
	/*background: linear-gradient(80deg, red, green, yellow);*/
	/*background: radial-gradient(red, green);
}

#caixa h1 {
	dbackground: rgba(255, 255, 255, 0.8);
}*/

/* Sombras */
/*#caixa {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 20px 2px 5px rgba(0,0,0,0.6);
}

#caixa h1 {
	color: white;
	text-shadow: 20px 20px 5px rgba(0,0,0,0.6);

}*/


/* Animações --> utilizar prefixos -webkit-, -moz- e -o- */

/*@keyframes animacao-caixa {
	from { Estado inicial
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to { Estado inicial
		background: yellow;
		border-radius: 150px;
		top: 200px;
		left: 200px;
	}
}

#caixa {
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	Propriedades de animação
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: 3;
	animation-direction: alternate;
}*/

/* Transições */

/*#caixa {
	width: 300px;
	height: 300px;
	background: orange;
}

#caixa:hover {
	width: 400px;
	background: yellow;
	-webkit-transition: width 3s, background 3s;
	-moz-transition: width 3s, background 3s;
	-o-transition: width 3s, background 3s;
	transition: width 3s, background 3s;
	transition: all 3s;
}*/